.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0 rgb(10 10 10 / 13%), 0 2px 1px -1px rgb(10 10 10 / 13%);
  z-index: 666;
}

.app-body {
  flex-grow: 1;
}
