.AppContainer {
  display: grid;
  grid-template-rows: 48px auto;
  height: 100%;
}


.AppHeader {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 2px solid #ccc;
}

.AppBody {
  background-color: #ddd;
}

a.selected {
  font-weight: bold;
}
